.banner img{
    width: 100%;
    height: fit-content;
}

.footer{
    height: 0%;
    width: 0%;
    margin: 0%;
    padding: 0%;
}
.header{
    height: 0%;
    width: 0%;
    margin: 0%;
    padding: 0%;
}